{{- range .charts }}
<a class="external-link" href="{{ .url | safeHTMLAttr }}">Tableau↗</a>
<div style="min-height: {{ .height | default "300px" }};">
	<tableau-viz src={{ .url | safeHTMLAttr }}
		id="tableau-viz"
		toolbar="{{ .toolbar | default "hidden" }}"
		{{ if .hide_tabs | default true }} hide-tabs {{ end }}
		>
		{{- range .filters}}
		<viz-filter field="{{ .field }}" value="{{ .value }}"></viz-filter> 
		{{ end }}
		{{- range .parameters}}
		<viz-parameter  name="{{ .name }}"   value="{{ .value }}"></viz-parameter> 
		{{ end }}
	</tableau-viz>
</div>
{{ end }}

