{{- $all := partial "best-in-class/filter" . }}

<table class="table">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Feature</th>
      <th>Type</th>
      <th>Estimated Timeline</th>
      <th>Rationale for Priority</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $element := $all }}
    <tr>
      <td>
        {{ add $index 1 }}
      </td>
      <td>
        <b>{{ .name }}</b><br />
        {{ .description }}
      </td>
      <td>
        {{ with .competitors }}
          {{ range . }}
            <div style="white-space: nowrap;"><code>{{ .type }}</code> vs {{ .name }}</div><br>
          {{ end }}
        {{ end }}
      </td>
      <td>
        <a href="{{ .link }}">{{ .timeline }}</a>
      </td>
      <td>
        {{ .rationale }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
