{{ $regular_pages := .regular_pages }}
<style>
  .container {
    max-width: 80%;
  }
  .col-lg-6 {
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .icon-border {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.5em;
  }

  .td-box--1 p > a{
    color: #fca121 !important;
    text-decoration: underline;
  }
</style>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<div class="h4 mb-0">
      <h2>Featured News</h2>
      <p>&nbsp;</p>
      <div class="col">
        <div class="row">
          {{ range first 2 (where $regular_pages "Params.tags" "intersect" (slice "featured")) }}
          <div class="col-lg-6 mb-5 mb-lg-0 text-left">
            <div class="mb-4 h1 icon-border text-center">
              {{ $icon := default "<i class=\"fa-solid fa-newspaper\"></i>" .Params.icon }}
              {{ safeHTML $icon }}
            </div>
            <h4 class="h3">
              {{ .Title }}
            </h4>
            <div class="mb-0">
              <p>{{ .Date.Format "Monday, 2006-01-02" }}</p>
            </div>
            <div class="mb-0">
              <p>{{ .Summary }}</p>
            </div>
            <p><a href="{{ .Permalink }}">{{ T "ui_read_more" }} …</a></p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
	</div>
</section>
