{{ if and (.GitInfo) (site.Params.project) -}}
<div class="text-muted mt-5 pt-3 border-top">
  {{ T "post_last_mod" }} {{ .Lastmod.Format .Site.Params.time_format_default -}}
  {{ with .GitInfo }}: {{/* Trim WS */ -}}
    <a href="https://gitlab.com/{{ site.Params.project }}/commit/{{ substr .Hash 0 8 }}">
      {{- .Subject }} (<code>{{ substr .Hash 0 8 }}</code>) {{- /* Trim WS */ -}}
    </a>
  {{- end }}
</div>
{{ end -}}

{{ with .Page.File }}
<div class="text-muted pt-3">
<a
  href="https://gitlab.com/{{ site.Params.project }}/blob/{{ site.Params.branch }}/content/{{ .Path }}"
  class="td-page-meta--view" target="_blank" rel="noopener">
  <i class="fa fa-file-code fa-fw"></i> {{ T "post_view_this" }}
</a>
-
<a
  href="https://gitlab.com/-/ide/project/{{ site.Params.project }}/edit/{{ site.Params.branch }}/-/content/{{ .Path }}"
  class="td-page-meta--edit" target="_blank" rel="noopener">
  <i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}
</a>
{{ end }}
{{ if not (eq .Site.BaseURL "https://internal.gitlab.com/") }}
-
please <a
href="https://gitlab.com/-/ide/project/{{ site.Params.project }}/-/blob/main/CONTRIBUTING.md?ref_type=heads">contribute</a>.
<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" style="border-width: 0px;"></a>
</div>
{{ end }}
