{{- /*  Initialize. */}}
{{- $url := "" }}
{{- $height := "300px" }}
{{- $toolbar := "hidden" }}
{{- $tabs := false }}
{{- $filters := slice }}
{{- $parameters := slice }}

{{- /* Get params. */}}
{{- with .url }}
  {{- $url = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a view url." .Name}}
{{- end }}

{{- with .filters }}
	{{- if eq (printf "%T" .) "string"}}
		{{- $allFilters := split . "||" }}
		{{- range $allFilters }}
			{{- $filter := split . "=" }}
				{{- $filters = append ( dict "field" (index $filter 0) "value" (index $filter 1)) $filters}}
		{{- end }}
	{{- else }}
		{{- $filters = . }}
	{{- end }}
{{- end }}

{{- with .parameters }}
	{{- if eq (printf "%T" .) "string"}}
		{{- $allParameters := split . "||" }}
		{{- range $allParameters }}
			{{- $parameter := split . "=" }}
				{{- $parameters = append ( dict "name" (index $parameter 0) "value" (index $parameter 1)) $parameters}}
		{{- end }}
	{{- else }}
		{{- $parameters = . }}
	{{- end }}
{{- end }}

{{- with .height }}
	{{- $height = . }}
{{- end }}

{{- with .toolbar }}
	{{- $toolbar = . }}
{{- end }}

{{- with .tabs }}
	{{- $tabs = . }}
{{- end }}

<a class="external-link" href="{{ $url | safeHTMLAttr }}">Tableau↗</a>
<div style="min-height: {{ $height }};">
	<tableau-viz src={{ $url | safeHTMLAttr }}
		id="tableau-viz"
		toolbar="{{ $toolbar }}"
		{{ if not $tabs }} hide-tabs {{ end }}
		>
		{{- range $filters}}
		<viz-filter field="{{ .field }}" value="{{ .value }}"></viz-filter> 
		{{ end }}
		{{- range $parameters}}
		<viz-parameter  name="{{ .name }}"   value="{{ .value }}"></viz-parameter> 
		{{ end }}
	</tableau-viz>
</div>
