{{ define "main"}}
<main id="main" class="text-center">
  <figure class="figure m-5">
    <img class="figure-img img-fluid" src="/images/404.svg" alt="404">
  </figure>
  <h4>Page Not Found</h4>
  <p class="text-muted">Make sure the address is correct and the page hasn't moved.</p>
</main>
{{ end }}
