
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
        <th>
            Page
        </th>
        <th>
            Viewed
        </th>
        <th>
            View
        </th>
        <th>
            Mark as
        </th>
    </tr>
    {{ $data := getJSON "data/notifications.json" }}
    {{ range $data.notifications }}
    <tr>
        <td>{{.id}}<input class="notificationData" type="hidden" id="{{.id}}" value='{{jsonify .}}'></td>
        <td>{{.title}}</td>
        <td>{{.url}}</td>
        <td><input class="form-check-input h3" type="checkbox" value="" id="{{.id}}-check" disabled></td>
        <td>
            <button type="button" id="{{.id}}-viewBtn"class="btn btn-primary" disabled>View</button>
        </td>
        <td>
            <button type="button" style="width:100%" id="{{.id}}-markBtn" class="btn" disabled>Unknown</button>
        </td>
    </tr>
    {{ end }}
</table>
