{{- /*  Initialize. */}}
{{- $dashboard := "" }}
{{- $chart := "" }}
{{- $height := 300 }}

{{- /* Get params. */}}
{{- with (.Get "dashboard") }}
  {{- $dashboard = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a dashboard parameter.  This is your GitLab username." .Name}}
{{- end }}

{{- with (.Get "chart") }}
  {{- $chart = . }}
{{- end }}

{{- with (.Get "height") }}
    {{- $height = int . }}
{{- end }}

{{- $apidata := (dict "chart" $chart "dashboard" $dashboard "embed" "v2") | jsonify }}

{{ if getenv "PERISCOPE_EMBED_API_KEY" }}
{{- $api_key := getenv "PERISCOPE_EMBED_API_KEY" }}
{{- if $chart }}
<a class="external-link" href="https://app.periscopedata.com/app/gitlab/{{ $dashboard }}/?widget={{ $chart }}">Sisense↗</a>
{{- else }}
<a class="external-link" href="https://app.periscopedata.com/app/gitlab/{{ $dashboard }}">Sisense↗</a>
{{ end }}
{{ if $api_key }}
  {{- $path := printf "/api/embedded_dashboard?%s" (querify "data" $apidata | safeURL) }}
  {{- $signature := hmac "sha256" $api_key $path }}
  {{- $url := printf "https://www.periscopedata.com%s&signature=%s" $path $signature }}
  <iframe frameborder="0" width="100%" height="100%" style="min-height:{{ $height }}px;" src="{{ $url | safeURL }}" loading="lazy"></iframe>
{{ end }}
{{ end }}
