{{- $team := site.Data.public.team -}}
{{- $allDepartments := slice }}
{{- range $team }}
  {{ $allDepartments = uniq (append .departments $allDepartments) }}
{{- end }}

<div class="my-6 g-2 row">
  <div class="col-auto">
  <label for="department" class="h4 form-label">Filter by Department:</label>
  </div>
  <div class="col-auto">
  <select class="form-select" id="department">
      <option value="all" selected>All Departments</option>
      {{- range (sort $allDepartments) }}
        <option value="{{ . }}">{{ . }}</option>
      {{- end }}
    </select>
  </div>
</div>

<p>&nbsp;</p>

<div class="container">
  <div class="row row-cols-4">
  {{ range $team }}
  {{- if eq .name .job_title }}
    {{- continue }}
  {{- end }}
  {{ $picture := "https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" }}
  {{ if not (eq .picture "../gitlab-logo-extra-whitespace.png") }}
    {{ $suf := printf ".%s" (index (last 1 (strings.Split .picture ".")) 0) }}
    {{ $picture = printf "https://about.gitlab.com/images/team/%s-crop.jpg" (strings.TrimSuffix $suf .picture) }}
  {{ end }}

  <div class="col col-6 col-md-4 col-lg-3 text-center member" id="{{.gitlab | anchorize }}" data-departments="{{ .departments | jsonify }}">
      <a href="#" data-bs-toggle="modal" data-bs-target="#{{.slug | anchorize}}-modal" >
          <img src="{{$picture}}" alt="{{.name}}" class="member-img" width="120" height="120" loading="lazy">
      </a>
      <p class="h4">{{.name}}</p>
      <p>{{ .role | safeHTML }}</p>
      <p>
          <a href="https://gitlab.com/{{.gitlab}}"><i class="m-1 fa-brands fa-gitlab fa-2xl"></i></a>
          {{ with .linkedin }}
          <a href="https://www.linkedin.com/in/{{.}}"><i class="m-1 fa-brands fa-linkedin fa-2xl"></i></a>
          {{ end }}
          {{ with .twitter }}
          <a href="https://twitter.com/{{.}}"><i class="m-1 fa-brands fa-twitter fa-2xl"></i></a>
          {{ end }}
      </p>
  </div>
  <div class="modal modal-lg" id="{{.slug | anchorize}}-modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{.name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row align-items-center">
                  <div class="col-md-6 text-center">
                    <img src="{{$picture}}" alt="{{.name}}" class="m-4 member-img-color" width="120" height="120" loading="lazy">
                    <p>
                          <a href="https://gitlab.com/{{.gitlab}}"><i class="m-1 fa-brands fa-gitlab fa-2xl"></i></a>
                          {{ with .linkedin }}
                          <a href="https://www.linkedin.com/in/{{.}}"><i class="m-1 fa-brands fa-linkedin fa-2xl"></i></a>
                          {{ end }}
                          {{ with .twitter }}
                          <a href="https://twitter.com/{{.}}"><i class="m-1 fa-brands fa-twitter fa-2xl"></i></a>
                          {{ end }}
                      </p>
                  </div>
                  <div class="col-md-6">
                    {{- with .job_title }}
                    <p><strong>Job Title:</strong> {{ . }}</p>
                    {{- end }}
                    <p><strong>departments:</strong>
                    <ul>{{ range .departments }}<li><a href="/handbook/company/team/?department={{.}}">{{.}}</a></li>{{end}}</ul></p>
                    {{ with .speciality }}
                    <p><strong>Speciality:</strong> {{.}}</p>
                    {{ end }}
                    {{ with .pronouns }}
                    <p><strong>Pronouns:</strong> {{.}}</p>
                    {{end}}
                    {{ with .pronunciation }}
                    <p><strong>Pronunciation:</strong> {{.}}</p>
                    {{end}}
                    {{- with .gitlab }}
                    <p><strong>GitLab Handle:</strong> <a href="https://gitlab.com/{{.}}" target="_blank">{{ . }}</a></p>
                    {{- end }}
                  </div>
                  </div>

              <div class="row">
                  <div class="col">
              {{ with .projects }}
              <hr>
              <p class="h4">Projects:</p>
              <ul>
                  {{ range $k, $v := . }}
                  <li>{{$k}}
                      <ul>
                          {{ if reflect.IsSlice $v }}
                          {{ range $v}}
                          <li>{{.}}</li>
                          {{end}}
                          {{else}}
                          <li>{{$v}}</li>
                          {{end}}
                      </ul>
                  </li>
                  {{end}}
              </ul>
              {{ end }}
              {{ with .story }}
              <hr>
              <p class="h4">Story</p>
              <p>{{ . | markdownify }}</p>
              {{ end }}
                  </div></div>
              </div>
          </div>
          <div class="modal-footer">
            <a href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/data/team_members/person/{{ substr .slug 0 1}}/{{.slug}}.yml" class="btn btn-light">
                Edit This Page
            </a>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- end }}
  </div>
</div>

<script>
    $(document).ready(function(event) {
        if(location.hash) {
          modalName = location.hash.substr(1, location.hash.length - 1) + "-modal";
          if(document.getElementById(modalName)) {
            const myModal = new bootstrap.Modal(document.getElementById(modalName))
            myModal.show();
          } else {
              window.addEventListener('load', function () {
                  setTimeout(function() {
                      const n = {
                              "id": crypto.randomUUID(),
                              "type": "danger",
                              "icon": "fa-solid fa-triangle-exclamation",
                              "title": "Unable to find team member",
                              "messageHTML": "<p class=\"h5\">The team member with the gitlab username <code>" + location.hash.substr(1, location.hash.length - 1) + "</code> can't be found.</p>",
                              "autohide": true
                            };
                        renderNotification(n, false);
                  }, 1000);
          })
          }
        }
        $('#department').change(function(){
          const url = new URL(location);
          if($('#department').val() === "all") {
            url.searchParams.delete("department");
            history.pushState({}, "", url);
            $('.member').show()
          } else {
            url.searchParams.set("department", $(this).val());
            history.pushState({}, "", url);
            $('.member').each(function() {
              departments = $(this).data("departments")
              if(departments.includes($('#department').val())) {
                $(this).show();
              }
              else {
                $(this).hide();
              }
            })
          }
        })
        let params = (new URL(document.location)).searchParams;
        let department = params.get("department");
        if(department) {
          $('#department').val(department).change();
        };
    });
</script>

