{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ else }}
<link rel="canonical" href="{{ .RelPermalink }}">
{{ end }}

{{/* ORDER IS IMPORTANT HERE */}}
{{/* ======================= */}}
{{/* Redirect code should be first.  Followed by OneTrust cookie banner as this should be before any analytics */}}
{{/* scripts run or cookies are dropped.  After OneTrust we have Google Analytics and Snowplow.  At the end we have */}}
{{/* GitLab analytics so we can dogfood our Analytics Platform.  As we don't need don't need OneTrust for internal */}}
{{/* use of Analytics this is outside of the Privacy Policy so we can use it on the internal handbook. */}}

{{/* The following is for the internal handbook */}}
{{ if eq .Site.BaseURL "https://internal.gitlab.com/" }}
<script>
    const oldHandbookUrl = 'internal-handbook.gitlab.io';
    if (window.location.hostname === oldHandbookUrl && window.location.pathname.search("jobs") < 0) {
       window.location.replace(new URL(window.location.protocol + "//internal.gitlab.com" + window.location.pathname + "?redirected-from=internal-handbook.gitlab.io"))
    }
</script>
{{ end }}

{{ if (and .Site.Params.privacy_policy (strings.Contains .Site.BaseURL "gitlab.com"))}}
{{ if hugo.IsProduction -}}
    <!-- OneTrust Cookies Consent Notice start for gitlab.com -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/7f944245-c5cd-4eed-a90e-dd955adfdd08/OtAutoBlock.js" ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="7f944245-c5cd-4eed-a90e-dd955adfdd08" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for gitlab.com -->
{{ else -}}
    <!-- OneTrust Cookies Consent Notice start for gitlab.com -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/7f944245-c5cd-4eed-a90e-dd955adfdd08-test/OtAutoBlock.js" ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="7f944245-c5cd-4eed-a90e-dd955adfdd08-test" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for gitlab.com -->
{{ end -}}

<script type="text/javascript">
;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
 p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
 };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
 n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://assets.gitlab-static.net/assets/snowplow/sp-e10fd598642f1a4dd3e9e0e026f6a1ffa3c31b8a40efd92db3f92d32873baed6.js","snowplow"));

 window.snowplow('newTracker', 'cf', 'snowplow.trx.gitlab.net', {
   appId: 'about',
   cookieDomain: '.gitlab.com',
   userFingerprint: false,
   respectDoNotTrack: true,
   forceSecureTracker: true,
   post: true,
   contexts: {
       webPage: true,
   },
   stateStorageStrategy: "cookie"
 });

 window.snowplow('enableActivityTracking', 30, 30);
 window.snowplow('trackPageView');
 window.snowplow('enableFormTracking');
 window.snowplow('enableLinkClickTracking');
</script>
{{ end }}

{{/* Product Analytics */}}
{{- $app_key := getenv "PRODUCT_ANALYTICS_APP_KEY" }}
{{- $host := getenv "PRODUCT_ANALYTICS_HOST" }}

{{ if and ($app_key) ($host) }}
    <script src="https://cdn.jsdelivr.net/npm/@gitlab/application-sdk-browser@0.2.6/dist/gl-sdk.min.js"></script>
    <script>
        window.glClient = window.glSDK.glClientSDK({
            appId: '{{ $app_key }}',
            host: '{{ $host }}',
            hasCookieConsent: true
        });

        window.glClient.page();
    </script>
{{ end }}

{{ with .Site.Params.search.algolia }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<link rel="preconnect" href="https://3IIMMA8IDY-dsn.algolia.net" crossorigin />
{{ end }}
